

/* sample2.css */ 
.title {
  font-size: max(2vw, 24px);
  line-height: 1.1;
  padding-bottom: .4em;
  color: rgb(255, 255, 255);
  text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
}

.text {
  font-size: max(1vw, 15px);
  line-height: 1.4;
  overflow: hidden;
  padding-bottom: 20px;
  color: rgba(255, 255, 255, 0.7);
}

ul.accordions {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* padding-bottom: 20vh; */
}

.accordion {
  background: var(--bg);
  width: max(50vw, 280px);
  padding: 25px 30px 10px;
  border-radius: 15px;
  margin-bottom: 40px;
  box-shadow: 0 30px 30px -10px rgba(0, 0, 0, .3);
  }
  .accordions li:nth-child(1) .accordion { 
    --bg: linear-gradient(200deg, rgb(242, 136, 133) 13.57%, rgb(233, 79, 102) 98.38%);
  }
    .accordions li:nth-child(2) .accordion { 
    --bg: linear-gradient(200deg, rgb(101, 187, 118) 13.57%, rgb(70, 111, 171) 98.38%);
  }
    .accordions li:nth-child(3) .accordion { 
    --bg: linear-gradient(200deg, rgb(242, 136, 133) 13.57%, rgb(233, 79, 102) 98.38%);
  }
    .accordions li:nth-child(4) .accordion { 
    --bg: linear-gradient(200deg, #c215d1 13.57%, #9813a1 98.38%);
  }

/* .spacer {
  height: 50vh;
} */
.wrapper .spacer{
  height: 20vh;
}

.wrapper .spacer2 {
  height: 100vh;
}

@media (max-width: 480px) {
  .accordion {
    padding: 15px 20px 8px;
  }
  .title {
    font-size: 20px;
  }
}

/*------------------------------- 참고_sample3.css -------------------------------*/
/* sample3.css */ 
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import url('https://unpkg.com/normalize.css') layer(normalize);

@layer normalize, base, demo, stick, effect, scrollbar, debug;

/* ----------------- debug layer ----------------- */
@layer debug {
  [data-debug='true'] li {
    outline: 0.05em dashed currentColor;
  }
  [data-debug='true'] :is(h2, li:last-of-type) {
    outline: 0.05em dashed canvasText;
  }
}

/* ----------------- scrollbar layer ----------------- */
@layer scrollbar {
  @property --hue {
    initial-value: 0;
    syntax: '<number>';
    inherits: false;
  }
  @property --chroma {
    initial-value: 0;
    syntax: '<number>';
    inherits: true;
  }

  [data-sync-scrollbar='true'] {
    scrollbar-color: oklch(var(--lightness) var(--chroma) var(--hue)) #0000;
  }

  @supports (animation-timeline: scroll()) and (animation-range: 0% 100%) {
    [data-sync-scrollbar='true'][data-animate='true'] {
      timeline-scope: --list;
      scrollbar-color: oklch(var(--lightness) var(--chroma, 0) var(--hue)) #0000;
      animation-name: change, chroma-on, chroma-off;
      animation-fill-mode: both;
      animation-timing-function: linear;
      animation-range: entry 50% exit 50%, entry 40% entry 50%, exit 30% exit 40%;
      animation-timeline: --list;
    }

    [data-sync-scrollbar='true'][data-animate='true'] ul.accordions {
      view-timeline: --list;
    }
  }

  @keyframes change {
    to {
      --hue: var(--end);
    }
  }
  @keyframes chroma-on {
    to {
      --chroma: 0.3;
    }
  }
  @keyframes chroma-off {
    to {
      --chroma: 0;
    }
  }
}

/* ----------------- effect layer ----------------- */
@layer effect {
  :root {
    --start: 0;
    --end: 360;
    --lightness: 65%;
    --base-chroma: 0.3;
  }

  /* dark 모드 */
  @media (prefers-color-scheme: dark) {
    :root {
      --lightness: 75%;
    }
  }

  /* light 모드 */
  @media (prefers-color-scheme: light) {
    :root {
      --lightness: 65%;
    }
  }

  ul.accordions {
    --step: calc((var(--end) - var(--start)) / (var(--count) - 1));
  }

  li:not(:last-of-type) {
    color: oklch(
      var(--lightness) var(--base-chroma) calc(var(--start) + (var(--step) * var(--i)))
    );
  }

  @supports (animation-timeline: scroll()) and (animation-range: 0% 100%) {
    [data-animate='true'] li .accordion {
      opacity: 0.2;
      animation-name: brighten;
      animation-fill-mode: both;
      animation-timing-function: linear;
      animation-range: cover calc(50% - 1lh) calc(50% + 1lh);
      animation-timeline: view();
    }

    [data-animate='true'] li .accordion:first-of-type {
      --start-opacity: 1;
    }

    [data-animate='true'] li .accordion:last-of-type {
      --brightness: 1;
      --end-opacity: 1;
    }

    @keyframes brighten {
      0% {
        opacity: var(--start-opacity, 0.2);
      }
      50% {
        opacity: 1;
        filter: brightness(var(--brightness, 1.2));
      }
      100% {
        opacity: var(--end-opacity, 0.2);
      }
    }
  }
}

/* ----------------- stick layer ----------------- */
@layer stick {
  .section:first-of-type {
    --font-level: 6;
    display: flex;
    line-height: 1.25;
    width: 100%;
    padding-left: 6.5rem;
  }
  .section:last-of-type {
    min-height: 80vh;
    display: flex;
    place-items: center;
    width: 100%;
    justify-content: center;
  }
  .section:last-of-type h2 {
    --font-level: 5;
  }
  .wrapper {
    width: 100%;
  }
  .section:first-of-type h2 {
    position: sticky;
    top: calc(50% - 0.5lh);
    font-size: inherit;
    margin: 0;
    display: inline-block;
    height: fit-content;
    font-weight: 600;
  }
  ul.accordions {
    font-weight: 600;
    padding-inline: 0;
    margin: 0;
    list-style-type: none;
  }

  [data-snap='true'] {
    scroll-snap-type: y proximity;
  }

  [data-snap='true'] li {
    scroll-snap-align: center;
  }

  h2,
  li:last-of-type {
    background: linear-gradient(
      canvasText 50%,
      color-mix(in oklch, canvas, canvasText 25%)
    );
    background-clip: text;
    color: #0000;
  }
}

/* ----------------- demo layer ----------------- */
@layer demo {
  .header {
    min-height: 90vh;
    display: flex;
    place-items: center;
    width: 100%;
    padding-inline: 5rem;
    /* margin-bottom: 5rem; */
  }

  .footer {
    padding-block: 2rem;
    opacity: 0.5;
    text-align: center;
  }

  h1 {
    --font-size-min: 24;
    --font-level: 6;
    text-wrap: pretty;
    line-height: 1.5;
    margin: 0;
    background: linear-gradient(
      canvasText 60%,
      color-mix(in oklch, canvas, canvasText)
    );
    background-clip: text;
    color: #0000;
  }
}

/* ----------------- base layer ----------------- */
@layer base {
  :root {
    --font-size-min: 14;
    --font-size-max: 20;
    --font-ratio-min: 1.1;
    --font-ratio-max: 1.33;
    --font-width-min: 375;
    --font-width-max: 1500;
  }

  html {
    color-scheme: light dark;
  }

  [data-theme='light'] {
    color-scheme: light only;
  }

  [data-theme='dark'] {
    color-scheme: dark only;
  }

  :where(.fluid) {
    --fluid-min: calc(
      var(--font-size-min) * pow(var(--font-ratio-min), var(--font-level, 0))
    );
    --fluid-max: calc(
      var(--font-size-max) * pow(var(--font-ratio-max), var(--font-level, 0))
    );
    --fluid-preferred: calc(
      (var(--fluid-max) - var(--fluid-min)) /
        (var(--font-width-max) - var(--font-width-min))
    );
    --fluid-type: clamp(
      (var(--fluid-min) / 16) * 1rem,
      ((var(--fluid-min) / 16) * 1rem) -
        (((var(--fluid-preferred) * var(--font-width-min)) / 16) * 1rem) +
        (var(--fluid-preferred) * var(--variable-unit, 100vi)),
      (var(--fluid-max) / 16) * 1rem
    );
    font-size: var(--fluid-type);
  }

  *, *::after, *::before {
    box-sizing: border-box;
  }

  body {
    display: grid;
    place-items: center;
    background: light-dark(white, black);
    min-height: 100vh;
    font-family: 'Geist', 'SF Pro Text', 'SF Pro Icons', 'AOS Icons',
      'Helvetica Neue', Helvetica, Arial, sans-serif, system-ui;
  }

  body::before {
    --size: 45px;
    --line: color-mix(in hsl, canvasText, transparent 70%);
    content: '';
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: linear-gradient(
          90deg,
          var(--line) 1px,
          transparent 1px var(--size)
        )
        50% 50% / var(--size) var(--size),
      linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% /
        var(--size) var(--size);
    mask: linear-gradient(-20deg, transparent 50%, white);
    top: 0;
    transform-style: flat;
    pointer-events: none;
    z-index: -1;
  }

  .bear-link {
    color: canvasText;
    position: fixed;
    top: 1rem;
    left: 1rem;
    width: 48px;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    opacity: 0.8;
  }

  :where(.x-link, .bear-link):is(:hover, :focus-visible) {
    opacity: 1;
  }

  .bear-link svg {
    width: 75%;
  }

  /* Utilities */
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}

div.tp-dfwv {
  position: fixed;
}
